<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_ADDRESS>/" />
	</connectionStrings>
	<appSettings>
		<add key="senderEmail" value="test@example.com" />
		<add key="smtpHost" value="smtp.example.com" />
		<add key="smtpPort" value="587" />
		<add key="smtpUsername" value="test@example.com" />
		<add key="smtpPassword" value="myPassword" />
	</appSettings>
</configuration>
